[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
daphne = "*"
whitenoise = "*"
django-ical = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
web = "daphne -b 0.0.0.0 -p 80 nisse_backend.asgi:application"
