[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.7"
daphne = "4.0.0"
whitenoise = "6.6.0"
python-dotenv = "1.0.0"
psycopg = {extras = ["binary"], version = "==3.1.12"}
django-ical = "1.9.2"
djangorestframework = "3.14.0"
drf-spectacular = "0.26.5"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "==7.2.0"}
pillow = "10.1.0"
django-imagekit = "5.0.0"

[dev-packages]
black = "23.10.1"

[requires]
python_version = "3.11"

[scripts]
web = "daphne -b 0.0.0.0 -p 80 nisse_backend.asgi:application"
