footer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: var(--blue);
  color: var(--yellow);
  display: flex;
  justify-content: center;
}

.content {
  align-items: end;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 20px var(--page-side-padding) 0 var(--page-side-padding);
  max-width: var(--page-max-width);
  width: 100%;
}

.content > img {
  grid-column: 2;
  justify-self: end;
  max-width: 100%;
}

.content a {
  text-decoration: none;
  color: var(--yellow);
}

.social_icons > a {
  font-size: 24px;
  padding-right: 10px;
}
