.container {
  width: 100%;
  padding: 20px 0;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  align-items: center;
  display: grid;

  /*grid-template-columns: max-content 8px min-content 1fr max-content max-content;*/
  margin: 0 var(--page-side-padding);
  max-width: var(--page-max-width);
  width: 100%;
  @media (min-width: 800px) {
    grid-template-columns: max-content 8px max-content 1fr max-content max-content;
  }

  @media (max-width: 801px) {
    grid-template-columns: max-content 1fr min-content 1fr max-content max-content;
  }
}

.logo {
  grid-column: 1;
  height: 40px;

  & > img {
    height: 100%;
    @media (max-width: 800px) {
      font-size: smaller;
    }
  }
}

.logoutButton {
  grid-column: 5;

  @media (max-width: 800px) {
    display: none;
  }
}

.openDoorButton {
  grid-column: 3;
}

.menu {
  grid-column: 6;

  @media (min-width: 801px) {
    display: none;
  }
}
