.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  color: var(--blue);
}

.activeMembershipEngagements h3 {
  color: var(--blue);
}

.personalInfoTableContainer {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Initially, display as a single column */
  justify-content: space-between;
}

.personalInfoAttribute {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  height: fit-content;
}

.personalInfoAttribute h4 {
  width: fit-content;
  grid-column-start: 2;
  text-align: left;
  margin: 0px;
}

.personalInfoAttribute img {
  width: 30px;
  height: 30px;
  grid-column-start: 1;
  vertical-align: middle;
  margin: 2px;
}

/* Media query for switching to a two-column layout when needed */
@media screen and (max-width: 600px) {
  .personalInfoTableContainer {
    grid-template-columns: 1fr; /* Switch to two columns */
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto; /* Two columns: 50px wide for the image, and auto for the text */
  width: auto;
  padding-right: 5%;
  margin-bottom: 30px;
}

.gridContainerHeader {
  display: grid;
  grid-template-columns: 1fr; /* Single column for the header */
  grid-column: 1 / -1;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  text-align: left;
  border-top-left-radius: 8px; /* Rounded edges for top corners */
  border-top-right-radius: 8px;
}

.gridItem {
  display: grid;
  grid-template-columns: auto auto; /* Same as the container for consistency */
  align-items: center; /* Center items vertically */
  border: 1px solid #dddddd;
  grid-column: span 2;
  justify-content: space-around;
}

.gridItem img {
  grid-column-start: 1;
  margin: 5px;
}

.gridItem p {
  margin-left: 10px;
  padding-right: 30px;
  grid-column-start: 2;
  width: 175px;
}

.gridItem:nth-child(even) {
  background-color: #f5f5f5; /* Set your desired grayish background color */
}

.gridItem:last-child {
  border-bottom-left-radius: 8px; /* Adjust border radius as needed */
  border-bottom-right-radius: 8px; /* Adjust border radius as needed */
}

.engagementTypeFont,
.membershipTypeFont {
  font-size: 130%;
  text-align: left;
}

.dataRangeFont {
  font-size: 90%;
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns: equal width */
  grid-gap: 0px;
  justify-content: space-between;
}

.leftColumn {
  grid-column: 1 / 2; /* Span first column */
}

.rightColumn {
  grid-column: 2 / 3; /* Span second column */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; /* Two columns: equal width */
  }

  .leftColumn,
  .rightColumn {
    grid-column: 1 / 2; /* Span full width on smaller screens */
  }
}
