.standardButton {
  cursor: pointer;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
}

.blueButton {
  background-color: var(--blue);
  color: var(--white);
}

.yellowButton {
  background-color: var(--yellow);
  color: var(--black);
}

.pageHeading {
  margin: 0px;
}
