:root {
  --light-yellow: #fffbd7;
  --yellow: #fff5a4;
  --middle-yellow: #ffef71;
  --blue: #1c4386;
  --brown: #7b3919;
  --white: #ffffff;
  --black: #000000;

  --page-max-width: 1280px;
  --page-side-padding: 20px;

  /* These variable is mostly not used, since css doesn't support variables in
  media queries. They are used to document what the standard should be. */
  --small-page-max-width: 800px;
  --large-page-min-width: 801px;
}

html {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: var(--white);
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
